<html>
    <link rel="stylesheet" href="my_css.css">
<body>
    <h1>Cat Info</h1>
    <% for (var x in info) { %>
        <h3>My info: <%= info[x].info %></h3>
        
        <hr>
    <% } %>
</body>
</html>