<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cats</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <h1>Cats</h1>
        <% for (var x in cats) { %>
          <h2>Cat: <%= cats[x].name %></h2>
          <a href=/cats/<%= cats[x].name %>> <img src=<%= cats[x].img_source %>></a>
          <!-- <img src=<%= cats[x].img_source %>> -->
          <hr>
      <% } %>

    </body>
</html>
